@model schedule_2.Models.Schedule

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Створити новий розклад</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form id="createScheduleForm" method="post" asp-action="Create">
        <div class="mb-3">
            <label for="Name" class="form-label">Назва розкладу</label>
            <input type="text" class="form-control" id="Name" name="Name" required />
        </div>
        <div class="mb-3">
            <label for="StartDate" class="form-label">Початок</label>
            <input type="datetime-local" class="form-control" id="StartDate" name="StartDate" required />
        </div>
        <div class="mb-3">
            <label for="EndDate" class="form-label">Кінець</label>
            <input type="datetime-local" class="form-control" id="EndDate" name="EndDate" required />
        </div>
        <button type="submit" class="btn btn-primary">Створити</button>
    </form>
</div>
